*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    
}

body{
    background-color: #fff;
    height: auto;
}

.columns{
    border: 2px solid #f06090;
    border-radius: 15px;
    margin: 1rem;
    padding: 1rem;
}
.container-button{
    border: none;
    box-shadow: none;
}

.column__newUser{
    border: 2px solid #ffb8c2;
    border-radius: 15px;
    margin: .5rem;
}

/* @media (prefers-color-scheme: dark) {
    body {
        background-color: #fff;
        color: #000;
      }
      
      .navbar {
        background-color: #f06090;
      }
      
      .navbar-burger {
        color: #fff;
      }
  
    /* Asegúrate de anular otros estilos si es necesario */

    .tag {
        animation: slideLeft 1s ease-in-out 0 1 normal forwards;
    }    
    
    @keyframes slideLeft {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }
    